version: '3'


networks:
  fixmaster_net:
    external: true

services:
  organization_app:
    build: .
    command: /bin/bash -c "python /bot/organization_main.py"
    restart: always
    networks:
      - fixmaster_net
    volumes:
      - ./:/bot/

  moderator_app:
    build: .
    command: /bin/bash -c "python /bot/moderator_main.py"
    networks:
      - fixmaster_net
    volumes:
      - ./:/bot/

  master_app:
    build: .
    command: /bin/bash -c "python /bot/master_main.py"
    networks:
      - fixmaster_net
    volumes:
      - ./:/bot/

  customer_app:
    build: .
    command: /bin/bash -c "python /bot/customer_main.py"
    networks:
      - fixmaster_net
    volumes:
      - ./:/bot/
    
 
  minio:
    image: quay.io/minio/minio
    container_name: minio
    ports:
      - "9002:9000"
      - "9004:9001"
    volumes:
      - ./minio-data:/data
    networks:
      - fixmaster_net
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    restart: unless-stopped

  createbucket:
    image: minio/mc
    networks:
      - fixmaster_net
    depends_on:
      - minio
    environment:
      AWS_ACCESS_KEY_ID: minioadmin
      AWS_SECRET_ACCESS_KEY: minioadmin
    entrypoint: >
      /bin/sh -c "
      mc config host add myminio http://minio:9000 minioadmin minioadmin;
      mc mb myminio/dea7d49e-ba387d71-db58-4c7f-8b19-e217f5775615;
      mc anonymous set public myminio/dea7d49e-ba387d71-db58-4c7f-8b19-e217f5775615;  # ← если нужны публичные ссылки
      exit 0;
      "